#projects {
  .main-block {
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    h1 {
      width: 100%;
      font-weight: bold;
      margin-bottom: 0;
    }

    .projects-block {
      width: 100%;

      .sub-block {
        border: 1px solid lightgray;
        padding: 20px;
        border-radius: 11px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        float: left;

        &:nth-child(2n - 1) {
          @media (min-width: 720px) {
            margin-right: 3%;
          }
        }

        @media (max-width: 720px) {
          width: 100%;
        }

        @media (min-width: 720px) {
          width: calc(97% / 2);
        }

        h1 {
          font-weight: bold;
        }

        h2 {
          font-weight: bold;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          margin-bottom: 10px;
        }

        .tags {
          width: 100%;
          margin-bottom: 10px;

          .tag {
            height: 20px;
            float: left;
            margin-right: 5px;
            border-radius: 11px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            color: white;
            font-weight: bold;
          }
        }

        .buttons {
          width: 100%;
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}
