#presentation {
  background-color: #f9f3e9;
  display: flex;
  padding-bottom: 56px;

  @media (max-width: 992px) {
    padding-top: 90px;
    flex-direction: column;
  }

  @media (min-width: 992px) {
    padding-top: 56px;
    flex-direction: row;
  }

  .block {
    height: 100%;

    @media (max-width: 992px) {
      width: 100% !important;
    }
  }

  .block-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .presentation-text {
      width: 80%;
      height: 80%;

      h2 {
        color: #919191;
        font-weight: bold;
      }

      button {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .block-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
      height: 220px;
    }

    svg {
      path {
        transform: scale(1.18) translate(96px, 100px);
        transform-origin: center center;
      }
    }
  }
}
