#presentation {
  .main-block {
    background-color: #f6f6f6;
    color: black;
    display: flex;
    border-radius: 11px;
    position: relative;
    // background-image: url("https://images.unsplash.com/photo-1716887616455-392d1ca285f1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    @media (max-width: 720px) {
      flex-direction: column;
    }

    @media (min-width: 720px) {
      flex-direction: row;
    }

    .sub-block {
      height: 100%;

      @media (max-width: 720px) {
        width: 100% !important;
      }
    }

    .block-left {
      width: 50%;
      margin-left: 5%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;

      .presentation-text {
        width: 300px;
        height: 80%;

        h1 {
          font-size: 50px;
          font-weight: bold;
          margin-bottom: 5px;
        }

        h2 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          margin-bottom: 10px;
        }

        button {
          margin-bottom: 30px;
        }
      }
    }

    .block-right {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 720px) {
        height: 220px;
      }

      svg {
        path {
          transform: scale(1.18) translate(96px, 100px);
          transform-origin: center center;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        height: 300px;
        max-height: 100%;
        @media (max-width: 720px) {
          height: 250px;
        }
      }
    }
  }
}
