#panel {
  .main-block {
    position: relative;
    min-height: 300px;
    background: #28223b;
    color: #fff;
    font-family: Arial;
    padding: 50px;
    border-radius: 11px;

    .block-content {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      font-weight: bold;
      padding: 20px;

      .title {
        font-size: 50px;
      }

      .sub-title {
        font-size: 24px;
      }

      p.gradient {
        font-weight: bold;
        /* Base text color used if background:clip is not supported */
        color: #ffe299;
      }

      @supports (-webkit-background-clip: text) {
        p.gradient {
          /* Pretty gradient thanks to Josh Cormeau's CSS gradient generator
     * https://www.joshwcomeau.com/gradient-generator?colors=e5e59b|ffe299|ff959d&angle=90&colorMode=hsl&precision=8&easingCurve=0.25|0.75|0.75|0.25
    */
          background-image: linear-gradient(
            90deg,
            hsl(60deg 59% 75%) 0%,
            hsl(56deg 67% 76%) 10%,
            hsl(53deg 76% 77%) 20%,
            hsl(50deg 84% 78%) 30%,
            hsl(46deg 92% 79%) 40%,
            hsl(43deg 100% 80%) 50%,
            hsl(34deg 100% 80%) 60%,
            hsl(24deg 100% 80%) 70%,
            hsl(14deg 100% 80%) 80%,
            hsl(5deg 100% 79%) 90%,
            hsl(355deg 100% 79%) 100%
          );
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }

    // background-color: #f6f6f6;
    // color: black;
    // display: flex;
    // border-radius: 11px;
    // position: relative;
    // background-image: linear-gradient(
    //   76.3deg,
    //   rgba(44, 62, 78, 1) 12.6%,
    //   rgba(69, 103, 131, 1) 82.8%
    // );

    // @media (max-width: 720px) {
    //   flex-direction: column;
    // }

    // @media (min-width: 720px) {
    //   flex-direction: row;
    // }

    //   .sub-block {
    //     height: 100%;

    //     @media (max-width: 720px) {
    //       width: 100% !important;
    //     }
    //   }

    //   .block-left {
    //     width: 50%;
    //     margin-left: 5%;
    //     height: auto;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     padding: 20px;

    //     .presentation-text {
    //       width: 300px;
    //       height: 80%;

    //       .name {
    //         font-size: 50px;
    //         font-weight: bold;
    //         margin-top: 0;
    //         line-height: 1.2;
    //       }

    //       h2 {
    //         font-size: 18px;
    //         font-weight: bold;
    //         margin-bottom: 10px;
    //       }

    //       p {
    //         font-size: 16px;
    //         margin-bottom: 10px;
    //       }

    //       button {
    //         margin-bottom: 30px;
    //       }
    //     }
    //   }

    //   .block-right {
    //     width: 30%;
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;

    //     @media (max-width: 720px) {
    //       height: 220px;
    //     }

    //     svg {
    //       path {
    //         transform: scale(1.18) translate(96px, 100px);
    //         transform-origin: center center;
    //       }
    //     }

    //     img {
    //       position: absolute;
    //       bottom: 0;
    //       height: 300px;
    //       max-height: 100%;
    //       @media (max-width: 720px) {
    //         height: 250px;
    //       }
    //     }
    //   }
  }
}
