#skills {
  .main-block {
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    h1 {
      width: 100%;
      font-weight: bold;
    }

    .sub-block {
      width: 100%;
      display: flex;

      @media (max-width: 720px) {
        flex-direction: column;
      }

      @media (min-width: 720px) {
        flex-direction: row;
      }

      h2 {
        font-weight: bold;

        @media (max-width: 720px) {
          width: 100%;
        }

        @media (min-width: 720px) {
          width: 30%;
        }
      }

      ul {
        list-style: none;

        @media (max-width: 720px) {
          width: 100%;
        }

        @media (min-width: 720px) {
          width: 70%;
        }

        li {
          display: block;
          float: left;
          width: 100px;
          height: 100px;
          margin: 5px;
          border-radius: 11px;
          background-color: #f6f6f6;
        }
      }
    }
  }
}
