#navBar {
  position: fixed;
  width: 100%;

  .navbar {
    background-color: #474747;
    color: white;
    box-shadow: 1px 1px 3px black;

    a {
      color: white;
    }

    .navbar-toggler {
      border: none !important;
      box-shadow: none !important;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27white%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .container {
    max-width: 100%;
  }
}
