.tag {
  margin-bottom: 2px;
  height: 20px;
  float: left;
  margin-right: 5px;
  border-radius: 11px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  font-weight: bold;
}
