#projects {
  .main-block {
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .projects-block {
      width: 100%;

      .sub-block {
        border: 1px solid lightgray;
        padding: 20px;
        border-radius: 11px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        float: left;

        &:nth-child(2n - 1) {
          @media (min-width: 720px) {
            margin-right: 3%;
          }
        }

        @media (max-width: 720px) {
          width: 100%;
        }

        @media (min-width: 720px) {
          width: calc(97% / 2);
        }

        h2 {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 10px;
        }

        .tags {
          width: 100%;
          margin-bottom: 10px;
        }

        .buttons {
          width: 100%;
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}
