#app {
  .app-section {
    width: 100%;
    aspect-ratio: 2;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .btn-classic {
    background-color: grey;
    box-shadow: 1px 1px 3px black;
    color: white;
    font-size: 1.5vw;
    &:hover {
      opacity: 0.6;
    }
  }
}
